body{
    /* background-image: url('/img/bg-img1.jpg'); */
    background-image: url('/img/bg-img2.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(50, 58, 69); */
}
.bg-black{
    height: 100vh;
    /* background-image: linear-gradient(to right, #0000005e, #ffffff47, #0000005e); */
    background-image: linear-gradient(to right, #00000038, #ffffff47, #00000038);
}
.bg-form{
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    /* margin-top: 20px; */
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
    opacity: 0.95;
    background-color: #f1f1f1;
}
.desc{
    color: #636d77;
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}
.btn-form{
    display: block;
    margin: auto;
    width: 175px;
    font-weight: 500;
}
.form-label{
    font-weight: 600;
}
.form-title{
    font-weight: 650;
}
.form-group.invalid .form-control{
    border-color: #f33a58;
}
.form-control:hover {
    border-color: rgb(0 123 255 / 44%);
}
.form-group.invalid .form-message, span{
    color: #f33a58;
}
.form-gender{
    display: flex;
}
.gender{
    display: flex;
    margin-top: 8px;
    position: relative;
    top: 15px;
    left: 20px;
    margin-right: 50px;
    padding: 7px 0;
}
.gender input{
    font-size: 1px;
    width: 20px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 3px;
}
.bi-heart-fill{
    color: #f72020;
}