<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/createPost.css">
    <link rel="stylesheet" href="/css/base.css">
    {{!-- <link rel="stylesheet" href="/css/all.css"> --}}

</head>

<body>
    <header class="header">
    </header>
    <form class="container" action="" method="POST">
        <div class="upload_image">
            <input type="file" id="thumbnail" accept="image/*" name="img-input">
            <label for="thumbnail">
                <div class="label_item">
                    <i class="fas fa-camera cam_icon"></i>
                    <h3 class="upload_file-label">Hôm nay bạn đã đăng bài gì chưa?</h3>
                    <p class="upload_file-span">
                        Truyền cảm hứng nấu món của bạn đến mọi người nào!!!
                    </p>
                </div>
                </labell>
        </div>
        <div class="cook_recipe">
            <div class="cook_recipe-input">
                <div class="cook_recipe-name">
                    <input type="text" class="cook_recipe-name--input" placeholder="Tên món" name="title">
                </div>
                <div class="cook_recipe-name">
                    <input type="text" class="cook_recipe-name--input" placeholder="Mô tả món ăn của bạn" name="description">
                </div>
                <div class="cook_recipe-khauphan">
                    <label class="cook_recipe-khauphan--label">Khẩu phần: </label>
                    <input type="text" class="cook_recipe-khauphan--input" name="ration">
                </div>
                <div class="cook_recipe-khauphan">
                    <label class="cook_recipe-khauphan--label">Thời gian nấu: </label>
                    <input type="text" class="cook_recipe-khauphan--input" name="timecook">
                </div>
            </div>
        </div>
        <div class="material">
            <h2>Nguyên Liệu</h2>
            <ul class="material_list">
                <div>
                    <li class="material_item">
                        <input type="text" class="material_input" placeholder="250g bột" name="ingredients">
                        <button class="material_delete_icon"><i class="fas fa-times delete_icon"></i></button>
                    </li>
                </div>
            </ul>
            <div class="add_material">
                <button class="add_material_button">
                    <i class="fas fa-plus add_icon"></i>
                    <span class="add_button-descrip">Nguyên liệu</span>
                </button>
            </div>
        </div>
        <div class="step">
            <h2>Các Bước </h2>
            <ul class="step_list">
                    <li class="step_item">
                        <div class="step_item-in">
                            <button class="step_delete_icon"><i class="fas fa-times delete_icon"></i></button>
                            <input type="text" class="step_item-input" placeholder="trộn bột và nước đến khi đặc lại" name="steps">
                        </div>
                        <div class="step_upload_image">
                            <input type="file" id="stepimg" accept="image/*" name="steps">
                            <label for="stepimg" class="label_upload_image">
                                <div class="step_label_item">
                                    <i class="fas fa-camera step_cam_icon"></i>
                                </div>
                            </label>
                        </div>
                    </li>

            </ul>
            <div class="add_step">
                <button class="add_step_button">
                    <i class="fas fa-plus add_icon"></i>
                    <span class="add_button-descrip">Bước làm</span>
                </button>

            </div>
        </div>
        <button id="btn-submit" type="submit">Đăng bài</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </script>
    <script src="/javascripts/createPost.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </script>
</body>

</html>