
{{#if localIsAuthenticated}}
<h1> {{localAuthUser.fullname}}</h1>
<a href="/account/{{localAuthUser._id}}">Trang cá nhân</a> <br>
<a href="/account/{{localAuthUser._id}}/edit?type=information">Chỉnh sửa thông tin cá nhân</a><br>


{{else}}
<h1>chua dang nhap</h1>
{{/if}}
