
{{#if localIsAuthenticated}}
<h1> {{localAuthUser.fullname}}</h1>
<a href="/account/{{localAuthUser._id}}">Trang cá nhân</a> <br>
<a href="/account/{{localAuthUser._id}}/edit?type=password">Chỉnh sửa thông tin cá nhân</a>
<a href="/post/soda-dam-tao">Link</a>
{{else}}
<h1>chua dang nhap</h1>
{{/if}}
