body{
    background-color:rgb(247, 247, 230);
}

.containers{
    position: relative;
    margin-left: auto;
    margin-right:auto;
    width: 800px;
    background-color: white ;
}

.menu_bar{
    display: flex;
    
}
.menu_bar div{
    font-size: 2.2rem;
    font-family: roboto;
    /* font-weight: bold; */
    cursor: pointer;
    padding: 5px;
}
.change_info{
    font-size:3rem;
    margin: 5px;
}
.change_pass{
    font-size: 3rem;
    margin: 5px;
}
.active{
    background:rgb(255,153,51);
    color:white;
    
}

.info{
    align-items: center;
}

.input_box{
    padding:10px;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
    
}
.avatar{
    display: block;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.avatar_main{
    z-index: 1;
}

input[type="file"]{
    display:none;
}
.avatar_label{   
    width: 180px;
    height: 180px;
    margin: 10px;
    background-color: rgb(228, 228, 228);
    text-align: center;
    border-radius: 50%;
    justify-items: center;
    border: 3px solid rgb(228, 228, 228);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);    
}

label.image{
    width: 180px;
    height: 180px;
}

label.image img{
    width: 180px;
    border-radius: 50%;
    height: 180px;
    object-fit: cover;
}

.icon_upload{
    margin-block-start: 60px;
    font-size: 5rem;
    color: rgb(94, 93, 91)
}



.row{
    margin-top: 40px;
}
.name_and_date{
    justify-content: space-between;
}

.address_and_number{
    justify-content: center;
}

.title{
    font-weight: 500;
    padding-left: 10px;
    font-size: 2rem;
}
.row input{
    flex: 1;
    font-size:2rem;
    height: 100%;
    border:none;
    outline: none;
    border-radius: 20px;
    padding-left: 10px;
    
}


.input_item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    height: 45px;
    margin: 0 30px 30px 10px ;
}

.row i{
    font-size: 2.5rem;
    padding-right: 5px;
}
/* .input_sex{
    font-size: 1.5rem;
} */

.form-gender{
    display: flex;
    font-size: 2rem;
}
.gender{
    display: flex;
    margin-top: 8px;
    position: relative; 
    left: 20px;
    margin-right: 50px;
    padding: 7px 0;
}
.gender input{
    font-size: 1px;
    width: 20px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 3px;
}

.input_introduce{
    
}

.introduce_area{
    margin: 0 15px 15px 10px;
    width: 300px;
    height: 80px;
    outline: none;
    border: 1px solid rgb(74,74,74);
    font-size: 1.5rem;
    /* border-radius: 20px; */
}
#submit_info{
    font-weight: 500;
    font-size: 1.7rem;
    color: white;
    background-color: rgb(255,153,51);
    border-radius: 10px;
    border: 1.5px solid  rgb(238, 125, 12);
    margin-left: 44%;
    padding: 5px;

}
.no_display{
    display:none;
}

.password{
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.password .title{
    text-align: center;
}
.password input{
    flex: 1;
    font-size:2rem;
    height: 100%;
    border:none;
    outline: none;
    border-radius: 20px;
    padding-left: 10px;    
}

.pass{

}
