body{
    background-color:rgb(252,252,240);
}
.background{
    width: 100%;
    height: 120px;
    background-color:rgb(212,212,209);
    

}

.containers{
    margin-left: auto;
    margin-right:auto;
    max-width: 700px;
  
}
 .avatar{
    display: block;
    /* max-width: 100px; */
    margin: auto;
    margin-top: -75px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}
.avatar_main{
    z-index: 1;
}

input[type="file"]{
    display:none;
}
.avatar_label{
    
    width: 150px;
    height: 150px;

    background-color: aqua;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    
}
.name{
    text-align: center;
    align-items: center;
    margin: auto;
}
.country{
    max-width: 200px;
    display: flex;
    margin:auto;
    justify-items: center;
}

.quocgia  {
    min-width: 60px;
    font-size: 1.5rem;
    justify-content: center;
    padding-right: 5px;
}

.country_input{
    flex: 1;
    height: 28px;
    width: fit-content;
    /* border: none; */
}

.nav{
    position: relative;
}
.borders::after{
    content: "";
    display: block;
    position: absolute;
    width: 99%;
    height: 0.9px;
    background-color: rgb(147,146,144);
    bottom: -70px;
    opacity: 60%; 
}


.nav-item{
        font-size: 2rem;
        margin-top: 20px;
        /* display: none; */
}
/* .recipes{
    
    
} */
.recipes_list{
    position: relative;
    margin-top: 80px;
    padding-left: 0;
    list-style: none;
    
}
.recipes_item{
    padding: 8px;
}
.recipes_item::after{
    content: "";
    display: block;
    position: absolute ;
    width: 98%;
    height: 0.9px;
    background-color: rgb(147,146,144);
    margin-top: 8px;
    opacity: 60%;
}
.cook_link{
    display: flex;
    
    justify-content: center;
    justify-content: space-between;
    text-decoration: none;
}
.cook_link:hover{
    text-decoration: none;
}
/* .recipes_item-main{

}
.recipes_item-main--nick{
    
    
} */

.recipes_item-nick--image{
    width: 40px;
    border-radius: 50%;
}
.nick_name{
    font-size: 1.8rem;
    color: rgb(147,146,144);
    
}
.title_text{
    font-size: 3rem;
    margin-bottom: 0;
    color: rgb(74,74,74);
}
.time{
    font-size: 1.5rem;
    color: rgb(147,146,144);;
    padding-right: 7px;
}

.time_icon{
    font-size: 1.5rem;
    color:rgb(147,146,144);
    padding: 2px;
    
}
.ration
{
    font-size: 1.5rem;
    color: rgb(147,146,144);
    padding-left: 7px;
    
}

.ration_icon{
    font-size: 1.5rem;
    color:rgb(147,146,144);
    padding: 2px;
    
}
.description_info{
    font-size: 1.8rem;
    color: rgb(104, 103, 100);
}
.recipes_item-main--image{
    object-fit: cover;
    width: 140px;
    height: 190px;
    
}

.next_page{
    margin: 80px;
    font-size: 2rem;
    display: flex;
}

.pagination{
    margin: auto;
}