body{
    background-color:rgb(253, 253, 244);
}
.container{
    position: relative;

    background-color: white;
    border: 0px solid;
    margin-right: auto;
    margin-left: auto;
    width:600px;
    height: 100%;
}

.upload_image{
   width: 100%;
   height: auto;
   background-color: rgb(246,245,244);
}

input[type="file"]{
    display:none;
}

label{
    display: block;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}


label:hover{
    cursor: pointer;
}

#selector img{
    width: 570px;
    object-fit: cover;
    
}
/* #selector.image{
    width: 570px;
}

#selector.image img{
    width: 570px;
    position: relative;
    object-fit: cover;
} */
.label_item{
    padding:25px 0 25px 0;
}
.cam_icon{
    font-size: 5rem;
}
.upload_file-label{
    font-family: roboto medium;
    font-size: 1.7rem;
}
.upload_file-span{
    font-family: roboto thin;
    font-size: 1.5rem;
}

.cook_recipe{
    position: relative;
}
.cook_recipe-input{
    display:block;
    margin: 10px 5px 5px 5px;
}
.cook_recipe-name{
    background-color:rgb(246,245,244) ;
    display: flex;
    flex: 1;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20px;
    /* line-height: 1.5rem; */
    
}

.cook_recipe-name--input{
    flex: 1;
    height: 50px;   
    border: none;
    font-size: 2rem;
    border-radius: 6px;
    background-color:rgb(246,245,244) ;
    /* color: rgb(206,206,205); */
}

.cook_recipe-khauphan{
    display:flex;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
}
.cook_recipe-khauphan--label{
    font-size: 2rem;
    font-family: roboto thin;
    min-width: 50px;
    justify-content: center;
    text-align: center;
    margin: auto;
    
    margin-left: 0px;
}
.cook_recipe-khauphan--input{
    flex: 2;
    max-width: 350px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color:rgb(246,245,244) ;
    font-size:2rem;

}
.material>h2{
    font-size: 2rem;
    padding-left: 5px;
}
.material_list{
}
.material_list li{
    display:flex;
    
}

.material_input{
    /* margin-right: 50px; */
    flex: 1;
    font-size: 1.5rem;
    height: 60px;
    border: none;
    border-radius: 8px;
    background-color:rgb(246,245,244) ;
    padding-right: 10px;
}

.material_item{
    
    padding: 5px;
}
.material_delete_icon{
    padding: 0 10px 0 10px;
    margin: auto;
    border:none;
    background-color:transparent;
}

.delete_icon{
    font-size: 2rem;
    margin: auto;
    justify-content: center;
    text-align: center;
    color: rgb(206,206,205);
    /* padding: 0x 0; */

}
.add_material{
    display: flex;
    height: 20px;
    justify-content: center;
   
}
.add_material_button{
    justify-content: space-between;
    background-color:white;
    border:none;
    margin: auto;
    justify-content: center;
    justify-self: center;
}
.add_material_button:hover{
    cursor: pointer;

}
.add_icon{
    font-size:1.5rem;
    color: rgb(206,206,205);
}
.add_button-descrip{
    font-family: roboto black;
    margin-bottom:5px;
    font-size: 1.8rem;
}
.step>h2{
    padding-left: 5px;
}
.step_list{
    
}
.step_item{
    padding: 10px;
}
.step_item-in{
    display: flex;
    padding-bottom: 5px;
}
.step_item-input{
    flex: 1;
    font-size: 1.5rem;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color:rgb(246,245,244) ;
    padding-right: 10px;
}
.step_delete_icon{
    padding: 0 8px 0 8px;
    margin: auto;
    border:none;
    background-color:transparent ;
}

.add_step{
    display: flex;
    height: 20px;
    justify-content: center;
   
}

.add_step_button{
    justify-content: space-between;
    background-color:white;
    border:none;
    margin: auto;
    justify-content: center;
    justify-self: center;
}
.add_step_button:hover{
    cursor: pointer;

}

/* .step_upload_image{
    width: 100px;
    height: 100px;
    background-color: rgb(246,245,244);

} */
.label_upload_image{
    width: 160px;
    height: 128px;
    display: flex;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(246,245,244);
}

.step_label_item{
    width: 160px;
    height: 128px;
    margin: auto;
    object-fit: contain;
}

.step_cam_icon{
    font-size: 2rem;
}

.form_submit{
    padding-left: 5px;
    text-align: center;
    margin: 20px 0;
}
.submit_button{
    width: 160px;
    height: auto;
    border: none;
    outline: none;
    background-color: rgb(255,153,51);
    font-size: 2rem;
    color: white;
    border-radius: 20px;
    padding-left: 9px;
}


.nodisplay{
display: none;
}



.step_image{
    width: 160px;
    height: 128px;
    object-fit: cover;
    
}
ul{
    list-style-type: none;
}